# Terraform
gcp/*.tfstate
gcp/*.tfstate.*.backup
gcp/*.tfstate.backup
# gcp/*.tfvars
gcp/.terraform/
gcp/*.terraform.tfstate.lock.info

# Packer
/docker-monolith/infra/packer/variables.json

# My scripts
*.cache

# Ansible
*.retry
gcp/service_account.json
gcp/vault.key

# Ansible Galaxy
gcp/jdauphant.nginx

# Inspec
gcp/inspec.lock

# Vagrant & molecule
.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache

# Gitlab CI
gitlab-ci/set_env.sh
gitlab-ci/run_reg_runner.sh

# Others
*.log
*.tar
*.tar.gz
*.pub
service_account.json
google_compute_engine
api_key.py
.vscode/
